<a href="https://colab.research.google.com/github/Priyo-prog/Deep-Learning-with-Tensorflow/blob/main/Neural%20Network%20Regression%20with%20Tensorflow/Neural_Network_Medical_Cost_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import tensorflow as tf

In [3]:
# Read the insuarnce dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# Let's try one hot encode using pandas get.dummies()
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head(10)

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0
5   31  25.740         0  ...                 0                 1                 0
6   46  33.440         1  ...                 0                 1                 0
7   37  27.740         3  ...                 1                 0                 0
8   37  29.830         2  ...                 0                 0                 0
9   60  25.840         0  ...                 1                 0                 0

[10 rows x 12 columns]

In [10]:
# Create X & y (features and labels)
X = insurance_one_hot.drop("charges", axis=1)

y = insurance_one_hot["charges"]
X.head(5), y.head(5)

(   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
 0   19  27.900         0  ...                 0                 0                 1
 1   18  33.770         1  ...                 0                 1                 0
 2   28  33.000         3  ...                 0                 1                 0
 3   33  22.705         0  ...                 1                 0                 0
 4   32  28.880         0  ...                 1                 0                 0

 [5 rows x 11 columns], 0    16884.92400
 1     1725.55230
 2     4449.46200
 3    21984.47061
 4     3866.85520
 Name: charges, dtype: float64)

In [13]:
# Create training and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
len(X), len(X_train), len(X_test)

(1338, 1070, 268)

In [14]:
# Create a neural network model

# Create a model
insurance_model = tf.keras.Sequential([
                 tf.keras.layers.Dense(10),
                 tf.keras.layers.Dense(1)                      
])


# 2. Compile the model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.keras.optimizers.SGD(),
                        metrics=["mae"])

# 3. Fit the model
insurance_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 1ms/step - loss: 8437.4932 - mae: 8437.4932
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 7689.9946 - mae: 7689.9946
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 7491.8760 - mae: 7491.8760
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 7725.5767 - mae: 7725.5767
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 7734.2046 - mae: 7734.2046
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 7806.8047 - mae: 7806.8047
Epoch 7/100
34/34 [==============================] - 0s 1ms/step - loss: 7661.0723 - mae: 7661.0723
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 7611.1021 - mae: 7611.1021
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 7712.8838 - mae: 7712.8838
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 7614.1284 - mae: 7614.1284
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 7423.1870 - mae: 7423.1870
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 7683.5112 - mae: 7683.5112
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 7648.2275 - mae: 7648.2275
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 7611.5352 - mae: 7611.5352
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 7767.3599 - mae: 7767.3599
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7733.8975 - mae: 7733.8975
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 7724.7852 - mae: 7724.7852
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 7655.5972 - mae: 7655.5972
Epoch 19/100
34/34 [==============================] - 0s 1ms/step - loss: 7571.8086 - mae: 7571.8086
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 7977.8301 - mae: 7977.8301
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 7749.6821 - mae: 7749.6821
Epoch 22/100
34/34 [==============================] - 0s 1ms/step - loss: 7632.9937 - mae: 7632.9937
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 7387.3096 - mae: 7387.3096
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7688.9146 - mae: 7688.9146
Epoch 25/100
34/34 [==============================] - 0s 1ms/step - loss: 7751.1577 - mae: 7751.1577
Epoch 26/100
34/34 [==============================] - 0s 1ms/step - loss: 7667.2363 - mae: 7667.2363
Epoch 27/100
34/34 [==============================] - 0s 1ms/step - loss: 7654.9204 - mae: 7654.9204
Epoch 28/100
34/34 [==============================] - 0s 1ms/step - loss: 7660.8374 - mae: 7660.8374
Epoch 29/100
34/34 [==============================] - 0s 1ms/step - loss: 7210.6963 - mae: 7210.6963
Epoch 30/100
34/34 [==============================] - 0s 1ms/step - loss: 7508.5586 - mae: 7508.5586
Epoch 31/100
34/34 [==============================] - 0s 1ms/step - loss: 7585.7207 - mae: 7585.7207
Epoch 32/100
34/34 [==============================] - 0s 1ms/step - loss: 7588.1401 - mae: 7588.1401
Epoch 33/100
34/34 [==============================] - 0s 1ms/step - loss: 7647.0947 - mae: 7647.0947
Epoch 34/100
34/34 [==============================] - 0s 1ms/step - loss: 7569.7012 - mae: 7569.7012
Epoch 35/100
34/34 [==============================] - 0s 1ms/step - loss: 7565.2754 - mae: 7565.2754
Epoch 36/100
34/34 [==============================] - 0s 1ms/step - loss: 7542.1685 - mae: 7542.1685
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 7244.3657 - mae: 7244.3657
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 7487.3691 - mae: 7487.3691
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 7407.0635 - mae: 7407.0635
Epoch 40/100
34/34 [==============================] - 0s 1ms/step - loss: 7550.8447 - mae: 7550.8447
Epoch 41/100
34/34 [==============================] - 0s 1ms/step - loss: 7561.1128 - mae: 7561.1128
Epoch 42/100
34/34 [==============================] - 0s 1ms/step - loss: 7523.4170 - mae: 7523.4170
Epoch 43/100
34/34 [==============================] - 0s 1ms/step - loss: 7515.8047 - mae: 7515.8047
Epoch 44/100
34/34 [==============================] - 0s 1ms/step - loss: 7468.0918 - mae: 7468.0918
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 7480.7925 - mae: 7480.7925
Epoch 46/100
34/34 [==============================] - 0s 1ms/step - loss: 7307.0698 - mae: 7307.0698
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 7673.8564 - mae: 7673.8564
Epoch 48/100
34/34 [==============================] - 0s 1ms/step - loss: 7309.8433 - mae: 7309.8433
Epoch 49/100
34/34 [==============================] - 0s 1ms/step - loss: 7460.5762 - mae: 7460.5762
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 7596.7549 - mae: 7596.7549
Epoch 51/100
34/34 [==============================] - 0s 1ms/step - loss: 7519.4912 - mae: 7519.4912
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 7517.4912 - mae: 7517.4912
Epoch 53/100
34/34 [==============================] - 0s 1ms/step - loss: 7497.9565 - mae: 7497.9565
Epoch 54/100
34/34 [==============================] - 0s 1ms/step - loss: 7661.9028 - mae: 7661.9028
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 7544.5581 - mae: 7544.5581
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 7212.6289 - mae: 7212.6289
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 7591.5845 - mae: 7591.5845
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 7475.7402 - mae: 7475.7402
Epoch 59/100
34/34 [==============================] - 0s 1ms/step - loss: 7441.9248 - mae: 7441.9248
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 7416.7168 - mae: 7416.7168
Epoch 61/100
34/34 [==============================] - 0s 1ms/step - loss: 7446.3462 - mae: 7446.3462
Epoch 62/100
34/34 [==============================] - 0s 1ms/step - loss: 7469.7749 - mae: 7469.7749
Epoch 63/100
34/34 [==============================] - 0s 1ms/step - loss: 7387.2612 - mae: 7387.2612
Epoch 64/100
34/34 [==============================] - 0s 1ms/step - loss: 7640.7554 - mae: 7640.7554
Epoch 65/100
34/34 [==============================] - 0s 1ms/step - loss: 7444.4873 - mae: 7444.4873
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 7572.3364 - mae: 7572.3364
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 7566.0415 - mae: 7566.0415
Epoch 68/100
34/34 [==============================] - 0s 1ms/step - loss: 7302.1060 - mae: 7302.1060
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 7449.8921 - mae: 7449.8921
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7473.5718 - mae: 7473.5718
Epoch 71/100
34/34 [==============================] - 0s 1ms/step - loss: 7584.3315 - mae: 7584.3315
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 7430.1567 - mae: 7430.1567
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 7399.5020 - mae: 7399.5020
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 7195.5469 - mae: 7195.5469
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 7448.8984 - mae: 7448.8984
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 7258.1655 - mae: 7258.1655
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 7500.7842 - mae: 7500.7842
Epoch 78/100
34/34 [==============================] - 0s 1ms/step - loss: 7335.0347 - mae: 7335.0347
Epoch 79/100
34/34 [==============================] - 0s 1ms/step - loss: 7446.6484 - mae: 7446.6484
Epoch 80/100
34/34 [==============================] - 0s 1ms/step - loss: 7326.9194 - mae: 7326.9194
Epoch 81/100
34/34 [==============================] - 0s 1ms/step - loss: 7305.2559 - mae: 7305.2559
Epoch 82/100
34/34 [==============================] - 0s 1ms/step - loss: 7232.2803 - mae: 7232.2803
Epoch 83/100
34/34 [==============================] - 0s 1ms/step - loss: 7197.8423 - mae: 7197.8423
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 7475.1616 - mae: 7475.1616
Epoch 85/100
34/34 [==============================] - 0s 1ms/step - loss: 7246.7017 - mae: 7246.7017
Epoch 86/100
34/34 [==============================] - 0s 1ms/step - loss: 7243.4058 - mae: 7243.4058
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 7366.2524 - mae: 7366.2524
Epoch 88/100
34/34 [==============================] - 0s 1ms/step - loss: 7398.0454 - mae: 7398.0454
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 7424.5078 - mae: 7424.5078
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 7169.5459 - mae: 7169.5459
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 7081.4639 - mae: 7081.4639
Epoch 92/100
34/34 [==============================] - 0s 1ms/step - loss: 7560.2119 - mae: 7560.2119
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 7326.3130 - mae: 7326.3130
Epoch 94/100
34/34 [==============================] - 0s 1ms/step - loss: 7077.5020 - mae: 7077.5020
Epoch 95/100
34/34 [==============================] - 0s 1ms/step - loss: 7252.4258 - mae: 7252.4258
Epoch 96/100
34/34 [==============================] - 0s 1ms/step - loss: 7332.4404 - mae: 7332.4404
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 7233.1763 - mae: 7233.1763
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 7335.6743 - mae: 7335.6743
Epoch 99/100
34/34 [==============================] - 0s 1ms/step - loss: 7142.3501 - mae: 7142.3501
Epoch 100/100
34/34 [==============================] - 0s 1ms/step - loss: 7055.2236 - mae: 7055.2236

In [15]:
# Check the results of the insurance_model on the test data
insurance_model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 5848.1196 - mae: 5848.1196

[5848.11962890625, 5848.11962890625]

In [16]:
y_train.median(), y_train.mean() # Model not performing well

(9575.4421, 13346.089736364489)